<p><strong>Director:</strong><br>
Debra Bangasser<br>
873 Weiss Hall<br>
<a href="tel:2152041015">(215) 204-1015</a><br>
<a href="mailto:debra.bangasser@temple.edu">debra.bangasser@temple.edu</a></p>
<hr>
<p><strong>Associate Director, Master’s Program in Neuroscience:</strong><br>
Lisa Briand<br>
864 Weiss Hall<br>
<a href="tel:2152047311">(215) 204-7311</a><br>
<a href="mailto:lbriand@temple.edu">lbriand@temple.edu</a></p>
<hr>
<p><strong>Program Coordinator</strong><br>
Rebecca Brotschul<br>
618 Weiss Hall<br>
<a href="tel:2152043441">(215) 204-3441</a><br>
<a href="mailto:rebecca.brotschul@temple.edu">rebecca.brotschul@temple.edu</a></p>
