
<h2>Affiliated Faculty</h2>
  
<p> The affiliated neuroscience faculty consists of faculty members from different departments/colleges who serve as mentors for undergraduate independent research studies and for Master’s projects.</p>
  
<h3>Department of Psychology, CLA</h3>
  <ul>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/alloy-lauren">Lauren Alloy, PhD</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/chein-jason">Jason Chein, PhD</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/ellman-lauren">Lauren Ellman, PhD</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/giovannetti-tania">Tania Giovannetti, PhD</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/james-peter">Peter James, PhD</a></li>
 <li><a href="http://www.sdnlaboratory.com/">Johanna Jarcho, PhD (Stony Brook University)</a></li> 
 <li><a href="https://liberalarts.temple.edu/academics/faculty/murty-vishnu">Vishnu Murty, PhD</a></li>  
 <li><a href="https://liberalarts.temple.edu/academics/faculty/olson-ingrid">Ingrid Olson, PhD</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/smith-david">David Smith, PhD</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/waxler-david">David Waxler, PhD</a></li>
  </ul>

<h3>Department of Physical Therapy, College of Public Health</h3>
  <ul>
 <li><a href="https://cph.temple.edu/pt/faculty/richard-lauer">Richard Lauer, PhD</a></li>
 <li><a href="https://cph.temple.edu/pt/faculty/emily-keshner">Emily Keshner, PhD</a></li>
 <li><a href="https://cph.temple.edu/pt/faculty/carole-tucker">Carole Tucker, PhD</a></li>
 <li><a href="https://cph.temple.edu/pt/faculty/w-geoffrey-wright">W. Geoffrey Wright, PhD</a></li>
  </ul>

 <h3>Department of Kinesiology</h3>
  <ul>
 <li><a href="https://cph.temple.edu/kinesiology/faculty/jin-sook-roh">Jinsook Roh, PhD</a></li>
 </ul>
   
 <h3>Department of Communication Sciences and Disorders</h3>
  <ul>
 <li><a href="https://cph.temple.edu/commsci/faculty/nadine-martin">Nadine Martin, PhD</a></li>
 <li><a href="https://cph.temple.edu/commsci/faculty/jamie-reilly">Jamie Reilly, PhD</a></li>
 </ul>

 <h3>Department of Pharmacology, College of Medicine</h3>
  <ul>
 <li><a href="https://medicine.temple.edu/lynn-kirby">Lynn Kirby, PhD</a></li>
 <li><a href="https://medicine.temple.edu/john-muschamp">John Muschamp, PhD</a></li>
 <li><a href="https://medicine.temple.edu/domenico-pratic%C3%B2">Domenico Pratico, MD</a></li>
 <li><a href="https://medicine.temple.edu/scott-rawls">Scott Rawls, PhD</a></li>
 <li><a href="https://medicine.temple.edu/ellen-unterwald">Ellen Unterwald, PhD</a></li>
  </ul>

<h3>Center for Neural Decision Making, Fox School of Business</h3>
  <ul>
 <li><a href="https://www.fox.temple.edu/mcm_people/dr-angelika-dimoka/">Angelika Dimoka, PhD</a></li>
 <li><a href="https://www.fox.temple.edu/mcm_people/crystal-reeck/">Crystal Reeck, PhD</a></li>
 <li><a href="https://www.fox.temple.edu/mcm_people/vinod-venkatraman/">Vinod Venkatraman, PhD</a></li>
  </ul>
