<div class="program card row">
  <div class="col s12 m3">
    <a href="https://www.cla.temple.edu/neuroscience/" target="_blank"><img src="media/cla2014c.jpg" alt="Logo for Temple University's College of Liberal Arts" style="width:90%;"></a>
  </div>

  <div class="col s12 m9">
    <p>
      <a href="http://www.cla.temple.edu/neuroscience/">The College of Liberal Arts Neuroscience Program</a> Our B.S. degree in Neuroscience: Systems, Behavior, and Plasticity explores neural and brain function at multiple levels. We also offer a minor in Neuroscience Research, a 2-year Master’s program, a +1 Accelerated Master’s program (for current Temple Undergraduates) and a Graduate Specialization in Neuroscience that is open to doctoral students across Temple.
    </p>
  </div>
</div>
<div class="program card row">
  <div class="col s12 m3">
    <a href="https://www.temple.edu/academics/degree-programs/neuroscience-cellular-and-molecular-major-st-nscm-bs" target="_blank"><img src="media/cst2014c.jpg" alt="Logo for Temple University's College of Scinece and Technology" style="width:90%;"></a>
  </div>
  <div class="col s12 m9">
    <p>
      <a href="https://www.temple.edu/academics/degree-programs/neuroscience-cellular-and-molecular-major-st-nscm-bs">The College of Science and Technology Neuroscience-Cellular &amp; Molecular B.S.</a> Cellular and Molecular Neuroscience is designed to provide rigorous preparation in scientific knowledge at the molecular, cellular and behavioral levels to those students interested in pursuing advanced studies and professional development in neuroscience, medicine or a related field in life sciences.
    </p>
  </div>
</div>
<div class="program card row">
  <div class="col s12 m3">
    <a href="https://medicine.temple.edu/education/biomedical-sciences-graduate-program/areas-concentration/neurosciences" target="_blank"><img src="media/med2014c.jpg" alt="Logo for Temple University's School of Medicine" style="width:90%;"></a>
  </div>
  <div class="col s12 m9">
    <p>
      <a href="https://medicine.temple.edu/education/biomedical-sciences-graduate-program/areas-concentration/neurosciences">
Lewis Katz School of Medicine Biomedical Sciences Program with Neurosciences Concentration</a>
The Neuroscience cluster is an educational working group, supporting PhD, MD/PhD, and MS educational/research programs within Lewis Katz School of Medicine at Temple University’s Biomedical Sciences Graduate Program. This cluster provides thematic courses, research opportunities, and educational activities related to neuroscience, bringing together faculty members from basic science and clinical departments, as well as research centers—Center of Substance Abuse, Center for Neurovirology and Comprehensive NeuroAIDS Center, and Shriner’s Hospitals Pediatric Research Center.
    </p>
  </div>
</div>
